name: Update AUR Package

on:
  schedule:
    - cron: '0 0 * * *'
  workflow_dispatch:
    inputs:
      forcedeploy:
        description: "Force update and push to AUR even if version hasn't changed"
        required: false
        default: 'false'

jobs:
  check-and-deploy:
    runs-on: ubuntu-latest
    container:
      image: archlinux:base-devel
    steps:
      - name: Install System Dependencies
        run: |
          pacman -Syu --noconfirm git pacman-contrib jq curl openssh

      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Check for New Version
        id: check_version
        run: |
          LATEST_TAG=$(curl -s https://api.github.com/repos/JeidoUran/fvtt-player-client/releases/latest | jq -r .tag_name | sed 's/v//')
          CURRENT_VER=$(grep -P -o '(?<=^pkgver=).*' PKGBUILD)
          
          echo "Latest found: $LATEST_TAG"
          echo "Current in repo: $CURRENT_VER"
          
          if [ "$LATEST_TAG" != "$CURRENT_VER" ] || [ "${{ github.event.inputs.forcedeploy }}" == "true" ]; then
            echo "Deployment triggered (Update: $([ "$LATEST_TAG" != "$CURRENT_VER" ] && echo "Yes" || echo "No"), Force: ${{ github.event.inputs.forcedeploy }})"
            echo "should_deploy=true" >> $GITHUB_OUTPUT
            echo "new_ver=$LATEST_TAG" >> $GITHUB_OUTPUT
          else
            echo "No update needed and forcedeploy is false."
            echo "should_deploy=false" >> $GITHUB_OUTPUT
          fi

      - name: Update PKGBUILD and .SRCINFO
        if: steps.check_version.outputs.should_deploy == 'true'
        run: |
          sed -i "s/^pkgver=.*/pkgver=${{ steps.check_version.outputs.new_ver }}/" PKGBUILD
          
          useradd -m builder
          chown -R builder:builder .
          sudo -u builder updpkgsums
          sudo -u builder makepkg --printsrcinfo > .SRCINFO

      - name: Push to AUR
        if: steps.check_version.outputs.should_deploy == 'true'
        uses: KSXGitHub/github-actions-deploy-aur@v4.1.1
        with:
          pkgname: fvtt-desktop-client-bin
          pkgbuild: PKGBUILD
          ssh_private_key: ${{ secrets.AUR_SSH_PRIVATE_KEY }}
          commit_message: "Update/Force push to v${{ steps.check_version.outputs.new_ver }}"
          ssh_keyscan_types: rsa,ed25519

      - name: Commit changes back to GitHub
        if: steps.check_version.outputs.should_deploy == 'true'
        run: |
          git config --global user.name "GitHub Action"
          git config --global user.email "action@github.com"
          git add PKGBUILD .SRCINFO
          # Use || true to prevent failure if there are no changes to the file (e.g. force push with same version)
          git commit -m "Automated update to ${{ steps.check_version.outputs.new_ver }}" || true
          git push